{% extends 'index.html' %}

{% block body %}
  <form class="mx-auto" style="width: 400px;" action="/addSql" method="post">
    <div class="mb-3">
      <label for="front" class="form-label">Deck name</label>
      <input class="form-control" type="text" value="EN-FR" aria-label="readonly input example" disabled readonly>
    </div>
    <div class="mb-3">
      <label for="front" class="form-label">Card text front</label>
      <input name="front" type="text" class="form-control" required>
      <div class="form-text">Example: "to-be".</div>
    </div>
    <div class="mb-3">
      <label for="back" class="form-label">Card text back</label>
      <input name="back" type="text" class="form-control" required>
      <div class="form-text">Example: "être".</div>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
  </form>


{% endblock %}