{% extends 'index.html' %}

{% block body %}

<div id="test" style="text-align: center;" class="card w-75 p-3 mx-auto">
  <div class="card-body">
    <h5 class="card-title">EN-FR</h5>
    <p class="card-text">{{ x[counter][0] }}</p>
    <hr>
    <p class="card-text text-secondary">{{ x[counter][1] }}</p>
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-primary btn-danger ">
        <a href="{{ url_for('home') }}">
          <i class="fa-solid fa-thumbs-down text-white"></i>
        </a>
      </button>
      <button type="button" class="btn btn-primary btn-success">
          <a href="{{ url_for('home') }} ">
            <i class="fa-solid fa-thumbs-up text-white"></i>
          </a> 

      </button>
    </div>
  </div>
</div>

{% endblock %}